.navbar {
  background-color: #004aad;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
